@font-face {
    font-family: "Lato";
    src: url("/static/fe/src/assets/fonts/Lato/Lato-Regular.ttf");
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale;
}