.hoverable:hover{
    background-color: gainsboro;
}

.filters{
    width: 350px;
}

.scrumlist{
    overflow-y: auto;
    overflow-x: hidden;
    height: 800px;
}

.issuelist{
    overflow-y: auto;
    overflow-x: hidden;
    height: 1350px;
}

.datepicker{
    width: 130px;
}

.statusbtn{
    width: 150px;
    height: 45px
}

.wraplongtext{
    word-wrap: break-word;
}