<!-- <app-filterbox></app-filterbox> -->
<select (click)="setFilter(type.value, status.value, dateFilterForm.value, username.value)" #type>
    <option>ALL</option>
    <option>DONE</option>
    <option>WIP</option>
    <option>ISSUES</option>
    <option>HOURS</option>
</select>
<br>
<form #dateFilterForm="ngForm" novalidate (ngSubmit)="setFilter(type.value, status.value, dateFilterForm.value, username.value)">
    <span>DATE:</span>
    <br>
    <span> From </span>
    <my-date-picker name="from" [options]="myDatePickerOptions"
                    [(ngModel)]="from_model" required></my-date-picker>
    <span> To </span>
    <my-date-picker name="to" [options]="myDatePickerOptions"
                    [(ngModel)]="to_model" required></my-date-picker>
    <button type="submit">
        DONE
    </button>
</form>
<br>
<select (click)="setFilter(type.value, status.value, dateFilterForm.value, username.value)" #username>
    <option>ALL</option>
    <option *ngFor="let user of users">{{ user.username }}</option>
</select>
<br>
<select (click)="setFilter(type.value, status.value, dateFilterForm.value, username.value)" #project>
    <option>ALL</option>
    <option *ngFor="let project of projects">{{ project.name }}</option>
</select>
<br>
<br>
<h1>Stand up updates</h1>
<table class="table table-striped" [mfData]="filtered_scrum" mfSortBy="date_created" mfSortOrder="desc" #scrumTable="mfDataTable" [mfRowsOnPage]="5">
    <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="log_type">Type</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="message">Message</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="user">Username</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="date_created">Date</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let log of scrumTable.data">
            <td>{{ log.log_type }}</td>
            <td>{{ log.message }}</td>
            <td>{{ log.user }}</td>
            <td>{{ log.date_created | date }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>
<br>
<br>
<select (click)="setFilter(type.value, status.value, dateFilterForm.value, username.value)" #status>
    <option>ALL</option>
    <option>Pending</option>
    <option>Resolved</option>
    <option>Closed</option>
</select>
<h1>Issues list</h1>
<table class="table table-striped" [mfData]="filtered_issues" mfSortBy="date_created" mfSortOrder="desc" #issuesTable="mfDataTable" [mfRowsOnPage]="5">
    <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="status">Status</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="issue">Issue</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="user">Username</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="date_created">Date</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let issue of issuesTable.data">
            <td>{{ issue.status }}
                <button #rButton (click)="updateStatus(issue.id, rButton.value)" *ngIf="issue.status == 'Pending'" value="R">Mark as Solved</button>
                <button #cButton (click)="updateStatus(issue.id, cButton.value)" *ngIf="issue.status == 'Pending'" value="C">Closed</button>
            </td>
            <td>{{ issue.issue }}</td>
            <td>{{ issue.user }}</td>
            <td>{{ issue.date_created | date }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>