<div class="container-fluid">
    <div class="row border-bottom d-flex justify-content-between">
        <div class="m-3 ml-5 d-flex align-items-center">
            <i class="fas fa-search border-0 m-1 mr-3"></i>
            <input type="text" placeholder="Search" class="border-0">
        </div>
        <div class="m-3 mr-5 reduce">
            <app-avatar></app-avatar>
        </div>
    </div>
    <div class="row">
        <div class="col p-5 mt-2 ml-5">
            <div class="row mt-3">
                <h1>Welcome back, John!</h1>
            </div>
            <div class="row">
                <p>There are 2 issues and 2 urgent tickets</p>
            </div>
                <hr>
            <div class="row pt-4 pb-5">
                <div class="col d-flex flex-column">
                    <div class="d-flex flex-row align-items-center">
                        <span class="w-25">Select Project</span>
                        <input type="text" placeholder="All Projects" class="form-control">
                    </div>
                    <br>
                    <div class="d-flex flex-row align-items-center">
                        <span class="w-25">Members</span>
                        <input type="text" placeholder="All Members" class="form-control">
                    </div>
                </div>
                <div class="col d-flex flex-row-reverse">
                    <div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="p-2 d-flex align-items-center border rounded-left">
                                    <i class="far fa-calendar"></i>
                                </div>
                            </div>
                            <input type="text" ngbDatepicker class="border border-left-0 form-control" #d="ngbDatepicker"/>
                            <div class="input-group-append">
                                <button class="btn btn-light border border-left-0" (click)="d.toggle()"><i class="fas fa-chevron-down"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h4><b>Stand up updates</b></h4>
                </div>
                <div class="col-sm-6">
                    <h4><b>Issues list</b></h4>
                </div>
            </div>
            <div class="row mt-4 mb-3">
                <div class="col-sm-2">
                    <p>date</p>
                </div>
                <div class="col-sm-10">
                    <hr>
                </div>
            </div>
            <div class="row m-1 list">
                <div class="row d-flex flex-fill">
                    <div class="col-sm-6">
                        <div class="row d-flex flex-column shadow p-3 ml-3 mr-3 mb-5">
                            <div class="row d-flex justify-content-between">
                                <div class="normal col d-flex">
                                    <app-avatar></app-avatar>
                                    <div class="m-1 ml-3">
                                        <span><b>Gong</b></span>
                                        <br>
                                        <span>time</span>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <div class="m-1">
                                        <span><b>Total Hours:</b> time</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex flex-column p-5 ml-2 mr-2">
                                <p><b>Done</b></p>
                                <p>a</p>
                                <p><b>In progress</b></p>
                                <p>a</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row d-flex flex-column shadow p-3 ml-3 mr-3 mb-5">
                            <div class="row d-flex flex-column pt-3 pl-5 pr-5 pb-0 ml-2 mr-2">
                                <p><b>Pending</b></p>
                                <p>a</p>
                            </div>
                            <div class="row d-flex justify-content-center ml-2 mr-2">
                                <button type="button" class="statusbtn btn btn-outline-success m-4">Mark as Solved</button>
                                <button type="button" class="statusbtn btn btn-outline-warning m-4">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 border-left">
            <div class="row m-3">
                <b>Issues stream</b>
            </div>
            <div class="row">
                <div class="row d-flex flex-fill pr-4 pl-4 pt-3 ml-1 mr-1 mb-5">
                    <div class="reduce d-flex">
                        <app-avatar></app-avatar>
                    </div>
                    <div class="flex-fill ml-3">
                        <div class="d-flex justify-content-between mb-1">
                            <div class="d-flex">
                                <span><b>Gong</b></span>
                            </div>
                            <div class="d-flex">
                                <span>time</span>
                            </div>
                        </div>
                        <span>issue</span>
                    </div>
                    <div class="d-flex">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <select (click)="setFilter(type.value, status.value, dateFilterForm.value, username.value, project.value)" #type>
    <option>ALL</option>
    <option>DONE</option>
    <option>WIP</option>
    <option>ISSUES</option>
    <option>HOURS</option>
</select>
<br>
<form #dateFilterForm="ngForm" novalidate (ngSubmit)="setFilter(type.value, status.value, dateFilterForm.value, username.value, project.value)">
    <span>DATE:</span>
    <br>
    <span> From </span>
    <my-date-picker name="from" [options]="myDatePickerOptions"
                    [(ngModel)]="from_model" required></my-date-picker>
    <span> To </span>
    <my-date-picker name="to" [options]="myDatePickerOptions"
                    [(ngModel)]="to_model" required></my-date-picker>
    <button type="submit">
        DONE
    </button>
</form>
<br>
<select (click)="setFilter(type.value, status.value, dateFilterForm.value, username.value, project.value)" #username>
    <option>ALL</option>
    <option *ngFor="let user of users">{{ user.username }}</option>
</select>
<br>
<select (click)="setFilter(type.value, status.value, dateFilterForm.value, username.value, project.value)" #project>
    <option>ALL</option>
    <option *ngFor="let project of projects">{{ project.name }}</option>
</select>
<br>
<br>
<h1>Stand up updates</h1>
<table class="table table-striped" [mfData]="filtered_scrum" mfSortBy="date_created" mfSortOrder="desc" #scrumTable="mfDataTable" [mfRowsOnPage]="5">
    <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="log_type">Type</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="message">Message</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="user">Username</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="date_created">Date</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let log of scrumTable.data">
            <td>{{ log.log_type }}</td>
            <td>{{ log.message }}</td>
            <td>{{ log.user }}</td>
            <td>{{ log.date_created | date }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>
<br>
<br>
<select (click)="setFilter(type.value, status.value, dateFilterForm.value, username.value, project.value)" #status>
    <option>ALL</option>
    <option>Pending</option>
    <option>Resolved</option>
    <option>Closed</option>
</select>
<h1>Issues list</h1>
<table class="table table-striped" [mfData]="filtered_issues" mfSortBy="date_created" mfSortOrder="desc" #issuesTable="mfDataTable" [mfRowsOnPage]="5">
    <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="status">Status</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="issue">Issue</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="user">Username</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="date_created">Date</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let issue of issuesTable.data">
            <td>{{ issue.status }}
                <button #rButton (click)="updateStatus(issue.id, rButton.value)" *ngIf="issue.status == 'Pending'" value="R">Mark as Solved</button>
                <button #cButton (click)="updateStatus(issue.id, cButton.value)" *ngIf="issue.status == 'Pending'" value="C">Closed</button>
            </td>
            <td>{{ issue.issue }}</td>
            <td>{{ issue.user }}</td>
            <td>{{ issue.date_created | date }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table> -->