@import 'assets/avatars';
@import 'assets/text';
@import 'assets/borders';

.searchbar{
    width: 600px;
}

.urgent{
    background-color: #dd2556;
    color: white;
    font-size: 12px;
}

.scrumitem{
    box-shadow: 0 7px 8px 0 rgba(157, 173, 195, 0.16);
    border: solid 1px #f7f7fa;
}

.deadline_picker{
    width: 164px;
}

.statusbtn{
    width: 185px;
    height: 45px
}

.tabs{    
    margin: 0px 30px;
    width: 150px;
}