@font-face {
  font-family: "Lato";
  src: url("/static/fe/src/assets/fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale;
}
/* line 1, ../scss/_avatars.scss */
.avatar {
  color: white;
}

/* line 4, ../scss/_avatars.scss */
.dot {
  height: 42px;
  width: 42px;
  background-color: blue;
}

/* line 1, ../scss/_text.scss */
.less-emphasis {
  color: #9093a3;
}

/* line 5, ../scss/_text.scss */
.category_label {
  font-size: 12px;
}

/* line 9, ../scss/_text.scss */
.project_label {
  color: #4361ff;
}

/* line 1, ../scss/_borders.scss */
.grey-border {
  border-color: lightgray;
}

/* line 1, ../scss/_scrumboard.scss */
.hoverable:hover {
  background-color: #f8fbff;
}

/* line 5, ../scss/_scrumboard.scss */
.message-box {
  background-color: #f8fbff;
}

/* line 9, ../scss/_scrumboard.scss */
.check {
  color: #2be5ac;
}

/* line 17, ../scss/_scrumboard.scss */
.sidebar_username {
  width: 33%;
  height: 19px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #172236;
}

/* line 31, ../scss/_scrumboard.scss */
.w-33 {
  width: 33%;
}

/* line 35, ../scss/_scrumboard.scss */
.overflow-x-hidden {
  overflow-x: hidden;
}

/* line 39, ../scss/_scrumboard.scss */
.project-time {
  width: 70px;
  height: 15px;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #9093a3;
}

/* line 53, ../scss/_scrumboard.scss */
.user {
  width: 110px;
  height: 19px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #172236;
}

/* line 67, ../scss/_scrumboard.scss */
.height-200 {
  height: 200px;
}

/* line 71, ../scss/_scrumboard.scss */
.overflow-hidden {
  overflow-x: hidden;
}

/* line 75, ../scss/_scrumboard.scss */
.close-welcome-message {
  width: 11px;
  height: 20px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #bcc4ed;
  cursor: pointer;
}

/* line 89, ../scss/_scrumboard.scss */
.scrumbot-urgent {
  width: 18%;
  height: 20px;
  font-family: "Lato";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

/* line 104, ../scss/_scrumboard.scss */
.sidebar-issue {
  word-wrap: break;
  width: 70%;
  max-height: 35px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Lato";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #9093a3;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  margin-right: 0px;
  padding-right: 0px;
}

/* line 130, ../scss/_scrumboard.scss */
.wip {
  color: #ffc455;
}

/* line 134, ../scss/_scrumboard.scss */
.issueitem {
  box-shadow: 0 3px 8px 0 rgba(111, 126, 147, 0.16);
}

/* line 138, ../scss/_scrumboard.scss */
.label {
  font-size: 14px;
}

/* line 142, ../scss/_scrumboard.scss */
.date_filters {
  width: 170px;
}

/* line 146, ../scss/_scrumboard.scss */
.box-shadow {
  box-shadow: 0 3px 8px 0 rgba(111, 126, 147, 0.16);
}

/* line 150, ../scss/_scrumboard.scss */
.redmarker {
  width: 2px;
  height: 37px;
  background-color: #dd2556;
}

/* line 156, ../scss/_scrumboard.scss */
.scrumlist {
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 161, ../scss/_scrumboard.scss */
.issuelist {
  overflow-y: auto;
  overflow-x: hidden;
  height: 1350px;
}

/* line 167, ../scss/_scrumboard.scss */
.datepicker {
  width: 130px;
}

/* line 171, ../scss/_scrumboard.scss */
.label-filter-members {
  height: 27px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #9093a3;
  width: 30%;
}

/* line 185, ../scss/_scrumboard.scss */
.label-filter-project {
  width: 30%;
  height: 27px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #9093a3;
}

/* line 199, ../scss/_scrumboard.scss */
.initial-box {
  word-wrap: break-word;
  max-height: 50px;
  max-width: 400px;
}

/* line 206, ../scss/_scrumboard.scss */
.issue-collapsable-box {
  word-wrap: break-word;
  width: 300px;
  overflow-x: hidden;
}

/* line 213, ../scss/_scrumboard.scss */
.collapsable-box {
  word-wrap: break-word;
  width: 300px;
  overflow-x: hidden;
}

/* line 219, ../scss/_scrumboard.scss */
.wraplongtext {
  word-wrap: break-word;
}

/* line 1, ../scss/_issueboard.scss */
.issues_container {
  margin: 0 120px 0 120px;
}

/* line 5, ../scss/_issueboard.scss */
.issue_box {
  max-width: 100px;
}

/* line 9, ../scss/_issueboard.scss */
.issue_details {
  background-color: white;
  margin-right: 20px;
  padding: 30px 40px;
  width: 500px;
  box-shadow: 0 3px 8px 0 rgba(111, 126, 147, 0.16);
}

/* line 19, ../scss/_issueboard.scss */
.ng-star-inserted .text-center {
  font-family: "Lato";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #9093a3;
  background-color: white;
  border: 1px solid gray;
  height: calc(2.25rem + 2px);
}

/* line 35, ../scss/_issueboard.scss */
.w-55 {
  width: calc(50% + 20px + 0.5rem);
}

/* line 39, ../scss/_issueboard.scss */
.bs-timepicker-field {
  font-family: "Lato";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #9093a3;
}

/* line 52, ../scss/_issueboard.scss */
.marker_static {
  width: 5px;
  height: 61px;
  margin-right: 30px;
  background-color: #2be5ac;
}

/* line 59, ../scss/_issueboard.scss */
.summary_box {
  background-color: #effffa;
}

/* line 63, ../scss/_issueboard.scss */
.title {
  font-size: 18px;
  color: #2be5ac;
}

/* line 68, ../scss/_issueboard.scss */
.deadline_label {
  color: #dd2556;
}

/* line 1, ../scss/_loginform.scss */
.login_container {
  height: 500px;
}

/* line 5, ../scss/_loginform.scss */
.login_form {
  width: 400px;
}

/* line 9, ../scss/_loginform.scss */
.invalid_message {
  color: red;
}

/* line 1, ../scss/_marker.scss */
.marker {
  width: 7px;
  height: 86px;
  margin-right: 20px;
}

/* line 2, ../scss/_globals.scss */
.searchbar {
  width: 600px;
}

/* line 6, ../scss/_globals.scss */
.urgent {
  background-color: #dd2556;
  color: white;
  font-size: 12px;
  width: 45px;
}

/* line 13, ../scss/_globals.scss */
.color-custom-gray {
  color: #adb4b7;
}

/* line 18, ../scss/_globals.scss */
.font-lato-16 {
  font-family: "Lato";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #9093a3;
}

/* line 31, ../scss/_globals.scss */
.mr-5px {
  margin-right: 10px;
}

/* line 35, ../scss/_globals.scss */
.inital-truncate {
  width: 100px;
  overflow-wrap: hidden;
  height: 14px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #9093a3;
}

/* line 50, ../scss/_globals.scss */
.header-title-size {
  font-size: 24px;
}

/* line 54, ../scss/_globals.scss */
.pop-over-issues {
  width: 100%;
  overflow-wrap: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

/* line 64, ../scss/_globals.scss */
.override-font-24px {
  font-size: 24px;
}

/* line 68, ../scss/_globals.scss */
.font-color-black {
  color: #172236;
}

/* line 72, ../scss/_globals.scss */
.override-14-px {
  font-size: 14px;
}

/* line 76, ../scss/_globals.scss */
.project_label {
  width: 33%;
  height: 17px;
  font-family: "Lato";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #4361ff;
}

/* line 91, ../scss/_globals.scss */
.select-project {
  width: 107px;
  height: 27px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #9093a3;
}

/* line 105, ../scss/_globals.scss */
.scrumitem {
  box-shadow: 0 7px 8px 0 rgba(157, 173, 195, 0.16);
  border: solid 1px #f7f7fa;
}

/* line 110, ../scss/_globals.scss */
.deadline_picker {
  width: 164px;
}

/* line 114, ../scss/_globals.scss */
.statusbtn {
  width: 185px;
  height: 45px;
}

/* line 119, ../scss/_globals.scss */
.tabs {
  margin: 0px 30px;
  width: 150px;
}

/* line 124, ../scss/_globals.scss */
.clickable {
  cursor: pointer;
}

/* line 128, ../scss/_globals.scss */
.mydrp .selectiongroup {
  height: 38px;
}

/* line 1, ../scss/components/_navigation.scss */
.container-with-shadow {
  background-color: white;
  padding: 30px 40px;
  box-shadow: 0 3px 8px 0 rgba(111, 126, 147, 0.16);
  width: 150px;
}

/* line 9, ../scss/components/_navigation.scss */
.container-margin {
  margin-right: 35px;
  padding: 10px;
}

/* line 15, ../scss/components/_navigation.scss */
.navigation-text {
  width: 64px;
  height: 19px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #9093a3;
}

/* line 31, ../scss/components/_navigation.scss */
.fix-align {
  padding-top: 1px;
}
