
<div class="row border-bottom d-flex justify-content-between">
        <div class="m-3 d-flex align-items-center col-9">
            <div class="tabs clickable col-1 pt-3">
                 <p (click)="goToDashboard()" class="navigation-text w-100">Dashboard</p>
            </div>
            <div class="tabs clickable col-2 pt-3">
                 <p (click)="goToIssues()" class="fix-align navigation-text w-100">All Issues</p>
            </div>
            <div class="pl-0">
                <fa-icon [icon]="icons.search" class="pr-2 color-custom-gray"></fa-icon>
                <input type="text" placeholder="Search" class="border-0 less-emphasis searchbar" (input)="searchSetter(search.value)" #search>
            </div>
        </div>
        <div class="mt-4 mr-4  col-lg-1 col-md-1 col-sm-1  d-flex justify-content-end" >
            <app-avatar [username]="logged_user" [id]="logged_user" [satPopoverAnchorFor]="contactPopover" (click)="contactPopover.toggle()"></app-avatar>
        </div>
</div>

<sat-popover #contactPopover verticalAlign="below" horizontalAlign="end" forceAlignment>
    <div class="container-with-shadow container-margin">
        <a (click)="logOut()" class="dropdown-item">Logout</a>
    </div>
</sat-popover>

