.container-with-shadow{
    background-color: white;
    padding: 30px 40px;
    box-shadow: 0 3px 8px 0 rgba(111, 126, 147, 0.16);
    width: 150px;
}


.container-margin{
    margin-right: 35px;
    padding: 10px;
}
